
{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{tweets[0].pictureurl}}" width=50%><br>
      <b> {{tweets[0].name}}</b><br>
      100 followers
    </div>

        {% if showForm %}
    <form action="/tweets" method="POST">
      <label for="name_field">Name:</label>

      <!-- distinguish user input repopulation -->
      {% if showUserName %}
      <input name="name" value='{{tweets[0].name}}' type="text" id="name_field" />
      {% else %}
      <input name="name" type="text" id="name_field" />
      {% endif %}

      <label for="text_field">Text:</label>
      <input name="text" type="text" id="text_field" style="width: 350px;" />

      <input type="submit" value="Submit" />
  </form>
      {% endif %}

    <div id="tweet_list" class="col-md-9">

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li>
        
            <a href="/users/{{ tweet.name }}">{{tweet.name}} - </a>
            <a href="/tweets/{{tweet.id}}">{{tweet.content}}</a>
            <div>
            <a href="https://www.google.com">Re-Tweet</a>
            </div>
        </li>
      {% endfor %}




    </div>
  </div>

{% endblock %}